* {
    color: black;
    font-family: 'Gochi Hand', cursive;
}

.show {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

/* cursor: pointer; */
body {
    background-image: url(../img/inside-cover.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 70%;
    background-color: white;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 50px;
}

.home-button a:hover {

    color: grey !important;
}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.score-card,
.leader-board {

    flex-direction: column;
    width: fit-content;
    padding: 20px;
    padding-bottom: 50px;
    border: 4px solid black;
    background-color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.my-score-form {
    justify-content: center;
}

/* .leader-board {
    padding: 20px;
} */

.score-display,
.leader-board {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
}

.same-line {
    display: flex;
    flex-direction: row;

}

#member-list li {
    text-align: left;
    padding-left: 10%;
}

input {
    font-size: 16px;
}

#submit {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid black;
}

#submit:hover {
    background-color: grey;
    border: 2px solid grey;
}

#user-score {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
}

#enter-leader-board {
    align-items: center;
    width: 100%;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
}

#enter-leader-board:hover {
    background-color: grey;
    border: 2px solid grey;
}

@media screen and (max-width: 770px) {

    element.style {
        margin-left: 1px;
    }
}