* {
    color: black;
    font-family: 'Gochi Hand', cursive;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* cursor: pointer; */
body {
    background-image: url(../img/inside-cover.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 70%;
    background-color: white;


}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 50px;
}

.home-button a:hover {

    color: grey !important;
}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.score-card,
.leader-board {
    width: 30vw;
    padding: 20px;
    padding-bottom: 50px;
    border: 4px solid black;
    /* border-radius: 20px; */
    background-color: white;
    text-align: center;

    flex-direction: column;
    justify-content: center;

}

.score-display {

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

}

input {
    font-size: 16px;
}

#submit {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid black;
}

#submit:hover {

    background-color: grey;
    border: 2px solid grey;
}



#user-score {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 18px;
}

.leader-board-enter {
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.leader-board-enter:hover {
    background-color: grey;
    border: 2px solid grey;
}
