* {
    font-size: 20px;
    font-family: 'Gochi Hand', cursive;
    
}

/* questions-card */
h3,
h1 {
    text-align: center;
    padding-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    color: black
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

nav a {
    padding-left: 10px;
    color: black;
}

nav a:hover {
    color: rgb(219, 121, 108);
}

#clock {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 5%;
    background-color: rgb(255, 255, 255, .75);
    font-weight: bold;
}

#timer {
    margin: 0px;
    font-size: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
   
   
}

.questions-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    background-color: white;
    border: 2px solid rgb(108, 193, 219);

}

/* .pre-screen {
display: none;

    
}
.quiz-container {
   display:block
} */


.op-btn {
    padding: 10px 5px;
    text-align: left;
    background-color: inherit;
    border: 2px solid white;
    color: black;
    
    font-family: 'Gochi Hand', cursive;

}

.op-btn:hover {

    border: 2px dotted rgb(145, 145, 145, 20);
    border-radius: 20px;
}

/* FIX ALIGNMENT */
/* .begin {
    color: blue;
    font-weight: bold;
    

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
} */

.results a, .results, .begin, .nxt-btn {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    background: white;
    border: none

}


.show {
    display: block;
    
}
.hide {
    display: none;
}

#correct-ans {
    border: 2px solid rgb(16, 179, 16);
    border-radius: 20px;
}

#incorrect-ans {
    text-decoration: line-through ;
    text-decoration-color: red ;
    border: none ;
}

.incorrectT-effect {
    color: red !important;
}

/* @media screen and (max-width: 500px) {

    main {
     height: 80vh;
    }
    
} */
